{% extends "base.html.twig" %}
{% block body %}
    <div class="container-white" xmlns="http://www.w3.org/1999/html">
        <img class="icone" src="{{ asset('img/contactus/icone.png') }}" alt="">
        <div class="title">
            {{ "contactUs.title"|trans }}
        </div>
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="alert alert-success" role="alert">
                {{ flash_message|trans }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashBag.get('error') %}
            <div class="alert alert-danger" role="alert">
                {{ flash_message|trans }}
            </div>
        {% endfor %}
        {{ form_start(form, { 'action': path('send_contact'), 'attr': { 'class': 'contactForm' }, 'method': 'post' }) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock body %}
