{% extends "base.html.twig" %}
{% block body %}
    <div id="container-list-questions" class="container-white">
        <div class="title">
            Liste des questions
        </div>
        <div id="menuFilterPract">
            <form id="formFilterPract" method="post" action="{{ path('questions') }}">
                <label for="selectDomain">{{ "practList.selectDomain"|trans }}</label>
                <br/>
                <select id="selectDomain" name="domain">
                    <option value="-1" selected="selected">{{ "practList.defaultSelectDomain"|trans }}...</option>
                    {% for domain in domains %}
                        <option value="{{ domain.id }}" {% if sDomain is not null and sDomain.id == domain.id%}selected="selected"{% endif %}>{{ domain.name }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>

		{% if discussions|length != 0 %}
			{% for discussion in discussions %}
				<div class="last-question-cont">
					<div class="last-question">
						<!-- discussion.user.avatarPath -->
						{%  if discussion.user.avatarPath is not null %}
							<img class="image-user" src="{{ asset("uploads/users/"~discussion.user.id~"/"~discussion.user.avatarPath) }}" alt="">
						{%  else %}
							<img class="image-user" src="{{ asset("uploads/users/membre.jpg") }}" alt="">
						{%  endif %}
						<div class="name">
							{{discussion.user.name}}
						</div>
						<div class="date">
							{{discussion.question.dateupd|date('d/m/Y')}}
						</div>
						<div class="question">
							{{discussion.question.text|truncate(200)}}
						</div>
						<a class="button" href="{{ path('question', {'idDiscussion': discussion.id}) }}">
							En savoir plus
						</a>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div class="message-vide">
				Aucune question publique pour le moment.<br>
				Soyez le premier à poser la votre.
			</div>
		{% endif %}
		
		<div class="navigation">
            {{ knp_pagination_render(discussions) }}
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/filterPracts.js')}}"></script>
{% endblock javascripts %}
