{% extends "base.html.twig" %}
{% block body %}
    <div id="container-list-questions" class="container-white">
        <div class="title">
            Liste des questions
        </div>

		{% if discussions|length != 0 %}
			{% for discussion in discussions %}
				<div class="last-question-cont">
					<div class="last-question">
						<!-- discussion.user.avatarPath -->
						<img class="image-user" src="{{ asset("uploads/users/membre.jpg") }}" alt="">
						<div class="name">
							{{discussion.user.name}}
						</div>
						<div class="date">
							{{discussion.question.dateupd|date('d/m/Y')}}
						</div>
						<div class="question">
							{{discussion.question.text|truncate(200)}}
						</div>
						<a class="button" href="{{ path('question', {'idDiscussion': discussion.id}) }}">
							En savoir plus
						</a>
					</div>
				</div>
			{% endfor %}
		{% else %}
		    Aucune questions publiques pour le moment.<br>
		    Soyer le premier à poser la votre.
		{% endif %}

    </div>
{% endblock body %}
