{% extends 'VimoliaBundle:Admin:standard_layout.html.twig' %}

{% block sonata_admin_content %}
	<div id="container-discussion" class="container-white">
		
	    <div class="personne">
	        <div class="col-xs-4 container_img">
	            <img src="{{ asset('img/homepage/discussion/membre.jpg') }}" alt="">
	        </div>
	        <div class="col-xs-8">
	            <div class="nom">
	                {{discussion.idMember}}
	            </div>
	        </div>
	    </div>

	    <div class="dialogue">
	        <div class="nom">
	            Question posée par le membre :
	        </div>
	        <div class="text">
	        	<strong>Le {{discussion.question.dateupd|date('d m Y')}}</strong><br>
	            {{discussion.question.text}}
	        </div>
	    </div>

	    <form method="post" action="{{ path('adminNewQuestion_update', {'idDiscussion': discussion.id}) }}">
	    	<div style="margin-top:30px;">
		    	<label for="domain">Attribuer un domaine :</label><br/>
		    	<select name="domain" id="domain" required style="width:50%;">
			    	{% for domaine in domaines %}
						<option value="{{domaine.id}}">{{domaine.name}}</option>
			    	{% endfor %}
			    </select>
		    </div>
			<div style="margin-top:30px;">
			    <label for="expert">Attribuer un expert :</label><br/>
			    <select name="expert" id="expert" required style="width:50%;">
			    	{% for expert in experts %}
						<option value="{{expert.id}}">{{expert.username}}</option>
			    	{% endfor %}
			    </select>
		    </div>
		    <button type="submit">Enregistrer</button>
	    </form>

	</div>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock javascripts %}