{% extends 'VimoliaBundle:Admin:standard_layout.html.twig' %}

{% block sonata_admin_content %}
    <style>
        .form-admin {
            width: 50%;
            float: left;
        }
            .form-admin label{
                display: block;
                margin-top:40px;
            }
                .form-admin .label1{
                    margin-top:60px;
                }
            .form-admin textarea{
                width:80%;
            }

    </style>
    <div id="container-discussion" class="container-white">
    	
        <div class="personne">
            <div class="col-xs-4 container_img">
                <img src="{{ asset('img/homepage/discussion/membre.jpg') }}" alt="">
            </div>
            <div class="col-xs-8">
                <div class="nom">
                    {{discussion.idMember}}
                </div>
            </div>
        </div>

        <div class="dialogue">
            <div class="nom">
                Question posée par le membre :
            </div>
            <div class="text">
            	<strong>Le {{discussion.question.dateupd|date('d m Y')}}</strong><br>
                {{discussion.question.text}}
            </div>
        </div>

        {% if discussion.status == 'expertAssociated' %}
            <div class="form-admin">
                {{ form_start(reponseForm)}}
                    {{ form_widget(reponseForm) }}
                {{form_end(reponseForm)}}
            </div>

            <div class="form-admin">
                <label class="label1">
                    Demander des informations supplémentaires à l'utilisateur
                    </label>
                <a href="{{ path('adminExpertQuestion_update_waiting', {'idDiscussion': discussion.id}) }}">
                    <button>Demander</button>
                </a>
            </div>
        {% endif %}

        {% if discussion.status == 'advancedInfosFilled' %}
            <div>
                Informations supplémentaires
            </div>
            <div class="message-vide">
                <table class="infos-sup">
                    <tr>
                        <td class="titres">Symptomes :</td>
                        <td class="data">{{discussion.advancedInfos.symptoms}}</td>
                    </tr>
                    <tr>
                        <td class="titres">Douleurs particulières :</td>
                        <td class="data">{{discussion.advancedInfos.particularpains}}</td>
                    </tr>
                    <tr>
                        <td class="titres">Antécédents :</td>
                        <td class="data">{{discussion.advancedInfos.antecedents}}</td>
                    </tr>
                    <tr>
                        <td class="titres">Autres informations utiles :</td>
                        <td class="data">{{discussion.advancedInfos.otherinformations}}</td>
                    </tr>
                </table>
            </div>

            <style>
                    .container-label label{
                        display: block;
                        width: 100%;
                        text-align: center;
                    }
            </style>
            <div class="container-label">
                {{ form_start(reponseForm)}}
                    {{ form_widget(reponseForm) }}
                {{form_end(reponseForm)}}
            </div>

            <h3>Ou attribuer la question à un practicien</h3>

            <form method="post" action="{{ path('adminQuestion_attributeToPract', {'idDiscussion': discussion.id}) }}">
                <div>
                    <label for="expert">Attribuer un practicien :</label>
                    <select name="practicien" id="practicien" required width="50%">
                        {% for practicien in practiciens %}
                            <option value="{{practicien.id}}">{{practicien.username}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit">Enregistrer</button>
            </form>
        {% endif %}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock javascripts %}