<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ "titleDefault"|trans }}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('js/jquery-ui/jquery-ui.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/nav.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/homepage.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/contactus.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/registration.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="fixed-container">
            <div class="logo">
                <a href="{{ path("homepage") }}">
                    <img src="{{ asset('img/fixed-container/logo.png') }}" alt="Logo des maux et des mots">
                </a>
            </div>
            <ul class="nav">
                <li><a href="{{ path("emissions") }}"> Emissions </a></li>
                <li><a href="{{ path("questions_new") }}"> Questions  </a></li>
                <li><a href="{{ path("practiciens") }}"> Praticiens </a> </li>
                <li><a href="{{ path("contactus") }}"> Contactez-nous </a></li>
                <li><a href="{{ path("informations") }}"> Informations </a></li>
            </ul>
            <a href="{{ path("questions_new") }}" class="button button-new">Je pose <br/> ma question</a>

            <div id="container-connexion" class="container">
                {% if app.user %}
                    <div class="col-xs-6">
                        <a href="{{ path("fos_user_profile_show") }}" class="button button-new connexion button-compte">Mon compte</a>
                    </div>
                    <div class="col-xs-6">
                        <a href="{{ path("fos_user_security_logout") }}" class="button button-new connexion button-log button-logout">Deconnexion</a>
                    </div>
                {% else %}
                    <div class="col-xs-6">
                        <a href="{{ path("fos_user_registration_register") }}" class="button button-new connexion button-compte">Inscription</a>
                    </div>
                    <div class="col-xs-6">
                        <a href="{{ path("fos_user_security_login") }}" class="button button-new connexion button-log button-login">Connexion</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="main-container">
            {% block body %}

            {% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
            <script src="{{ asset('js/jquery-ui/jquery-ui.js') }}"></script>
            <script src="{{ asset('js/homepage/video-youtube.js') }}"></script>
        {% endblock %}
    </body>
</html>
