<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ "titleDefault"|trans }}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('js/jquery-ui/jquery-ui.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/nav.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/homepage.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/contactus.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/registration.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/questions.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/profile.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/practicionners.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/lib/component.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="container-connexion" class="container">
            {% if app.user %}
                <div class="col-xs-6">
                    <a href="{{ path("fos_user_profile_show") }}" class="button button-new connexion button-compte">Mon compte</a>
                </div>
                <div class="col-xs-6">
                    <a href="{{ path("fos_user_security_logout") }}" class="button button-new connexion button-log button-logout">Deconnexion</a>
                </div>
            {% else %}
                <div class="col-xs-6">
                    <a href="{{ path("fos_user_registration_register") }}" class="button button-new connexion button-compte">Inscription</a>
                </div>
                <div class="col-xs-6">
                    <a href="{{ path("fos_user_security_login") }}" class="button button-new connexion button-log button-login">Connexion</a>
                </div>
            {% endif %}
        </div>
            {% block body %}

            {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
            <script src="{{ asset('js/jquery-ui/jquery-ui.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
