{% extends 'base.html.twig' %}

{% block body %}
    <div id="container-logo">
        <img class="icone" src="{{ asset('img/homepage/logo/vimolia_2.png') }}" alt="">
    </div>


    <div id="container-citation">
        "A votre écoute pour prendre soin de votre santé"
    </div>



    <div id="container-presentation" class="container-white">
        <div class="col-xs-5 left">
            <img class="icone" src="{{ asset('img/homepage/presentation/photo.jpg') }}" alt="">
            <div class="name">
                Frédéric Zenouda
            </div>
        </div>
        <div class="col-xs-6 col-xs-offset-1 text">
            <div class="title-text">
                Présentation
            </div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
    </div>




    <div id="container-video">
        <div class="col-xs-7">

            {% for video in videos %}
                {% if loop.index == 1 %}
                    <iframe id="player_youtube" width="560" height="315" src="http://www.youtube.com/embed/{{ video.id }}" frameborder="0" allowfullscreen></iframe>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-xs-5 content">
            <div class="title">Notre chaine Youtube</div>
            <div class="container-items">
                {% for video in videos %}
                    <div class="item item-video" data-videourl="http://www.youtube.com/embed/{{ video.id }}">
                        {{ video.title }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="container-discussion" class="container-white">
        {% if lastQuestion != null %}
            <div class="title">
                Dernière discussion publique
            </div>
            <div class="personne">
                <div class="col-xs-4 container_img">
                    <img src="{{ asset('img/homepage/discussion/expert.jpg') }}" alt="">
                </div>
                <div class="col-xs-8">
                    <div class="nom">
                        {{ lastQuestion.idExpert.firstname }} {{ lastQuestion.idExpert.name }}
                    </div>
                    <div class="description">
                        Expert Vimolia
                    </div>
                </div>
            </div>
            <div class="personne">
                <div class="col-xs-4 container_img">
                    {% if lastQuestion.idMember.avatarPath != "" and lastQuestion.idMember.avatarPath != null %}
                        <img src="{{ asset('uploads/users/'~user.id~'/'~lastQuestion.idMember.avatarPath) }}" alt="">
                    {% else %}
                        <img src="{{ asset('img/profile/nobody_m.original.jpg') }}" alt="">
                    {% endif %}
                </div>
                <div class="col-xs-8">
                    <div class="nom">
                        {{ lastQuestion.idMember.firstname }} {{ lastQuestion.idMember.name }}
                    </div>
                    <div class="description">
                        Membre Vimolia
                    </div>
                </div>
            </div>
            <div class="dialogue">
                <div class="nom">
                    Question posée par le membre :
                </div>
                <div class="text">
                    {{lastQuestion.question.text}}
                </div>
            </div>
            <!-- <div class="dialogue expert">
                <div class="nom">
                    La réponse de notre expert :
                </div>
                <div class="text">
                    {{lastQuestion.reponse.text}}
                </div>
            </div> -->
        {% else %}
            Aucune question n'as été posée récemment, venez poser la votre !<br>
            <a href="{{ path('questions_new') }}" class="button button-new" style="max-width: none;width: 75%;">Poser ma question</a>
        {% endif %}
    </div>
    <div id="container-domaines">
        {% for domaine in domaines %}
            <div class="cont-domaines">
                <a href="{{ path("user_practList")~"/"~domaine.id }}">
                    <img class="icone" src="{{ asset('img/practitionners/icone.png') }}" alt="">
                </a>
                <div class="nom-domaine">
                    {{ domaine.name }}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="container-abonnements-hp">
        <div class="col-xs-6 image">

        </div>
        <div class="col-xs-6 types-abos">
            <div class="titre">
                Nos abonnements
            </div>
            <table>
            {% for abo in abonnements %}
                <tr>
                    <td class="nom">
                        {{ abo.name }}
                    </td>
                    <td class="duree">
                        {{ abo.time }} mois
                    </td>
                    <td class="prix">
                        {{ abo.price }}€
                    </td>
                </tr>
            {% endfor%}
            </table>
            <a class="button" href="{{ path("abonnements_infos") }}">
                En savoir plus
            </a>
            <a  class="button" href="{{ path("fos_user_registration_register") }}">
                Je m'inscris
            </a>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/homepage/video-youtube.js') }}"></script>
{% endblock %}
