{% trans_default_domain 'FOSUserBundle' %}

<div id="registerChoose" class="container-white registerChoose {% if not form.vars.valid %}hidden{% endif %}">
    <div class="registerUser">
        <p>
            <h2>Les médecines alternatives vous intéresse ?</h2>
            Blablabla
        </p>
        <button id="userRegister">{{ "registration.user"|trans }}</button>
    </div>

    <div class="registerPract">
        <p>
            <h2>Vous êtes un praticien ?</h2>
            Blablabla
        </p>
        <button id="practRegister">{{ "registration.pract"|trans }}</button>
    </div>
</div>

<div id="registrationForms" class="registrationForms {% if form.vars.valid %}hidden{% endif %}">
    <div class="basicRegistration container-white">
        <div class="title">
            Inscription
        </div>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
        {{ form_end(form) }}
    </div>
</div>
