{% extends "base.html.twig" %}
{% block body %}
    <div class="container-white container-practicionners">
        <img class="icone" src="{{ asset('img/practitionners/icone.png') }}" alt="">
        <div class="title">
            Tous nos praticiens
        </div>
        <div id="menuFilterPract">
            <form id="formFilterPract" method="post" action="{{ path('user_practList') }}">
                <label for="selectDomain">{{ "practList.selectDomain"|trans }}</label>
                <br/>
                <select id="selectDomain" name="domain">
                    <option value="-1" selected="selected">{{ "practList.defaultSelectDomain"|trans }}...</option>
                    {% for domain in domains %}
                        <option value="{{ domain.id }}" {% if sDomain is not null and sDomain.id == domain.id%}selected="selected"{% endif %}>{{ domain.name }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>

        <div id="proListContainer">
            {% for pract in practs %}
                <div class="proContainer">
                    <div>
                        <img src="{% if pract.avatarPath != "" %}{{ pract.avatarPath }}{% else %}{{ asset('img/defaultAvatar.png') }}{% endif %}" alt="{{ "practList.altAvatar"|trans }}">
                    </div>
                    <div>
                        <h2>{{ pract.name }} {{ pract.firstname }}</h2>
                        <span class="practDomains">
                            {% for domain in pract.practInfos.practDomains %}
                                {{ domain.name }}
                                {% if loop.index != loop.last %}
                                     -
                                {% endif %}
                            {% endfor %}
                        </span>
                        <p>
                            {{ pract.practInfos.description }}
                        </p>
                        <a href="{{ path('user_proPage', {'id': pract.id}) }}">{{ "practList.seeProPage"|trans }}</a>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-info" role="alert">
                    {{ "practList.noPract"|trans }}
                </div>
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(practs) }}
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/filterPracts.js')}}"></script>
{% endblock javascripts %}
