{% extends "base.html.twig" %}
{% block body %}
<div class="container-white container-formulaire">
    <h2>{{ "practInfos.new.title"|trans }}</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'practInfos.toSubscribe'|trans }}" />
    {{ form_end(form) }}
</div>
{% endblock body %}
