{% extends "base.html.twig" %}
{% block body %}
    <div class="container-white container-pract-profile">
        <div class="banner">
            <img src="{{ asset('img/profile/banners/banner_pract_1.jpg') }}" alt="">
        </div>
        {% if user.practinfos.practDomains|length > 0 %}
            <div class="pract-type">
                {% for domain in user.practinfos.practDomains %}
                    {% if loop.last %}
                        {{ domain.name }}
                    {% else %}
                        {{ domain.name }} -
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="informations">
            <div class="left">
                <img src="{{ asset("uploads/users/membre.jpg") }}" alt="">
            </div>
            <div class="right">
                <div class="name">
                    {{ user.name }}
                    <div class="second">
                        {{ user.firstname }}
                    </div>
                </div>
                <div class="siret">
                    SIRET : {{ user.practinfos.siret }}
                </div>
                <div class="adresse">
                    <p>ADRESSE : {{ user.practinfos.proAddress }} - {{ user.practinfos.procity }} - {{ user.practinfos.prozipCode }}</p>
                    <p>Numéro de Tel : {{ user.practinfos.prophone }} - {{ user.practinfos.procellphone }}</p>
                </div>
            </div>
        </div>
        <a target="_blank" href="https://www.google.fr/maps/place/{{ user.practinfos.proAddress~" "~user.practinfos.procity~" "~user.practinfos.prozipCode }}" id="map">

        </a>
    </div>
{% endblock %}