{% extends "base.html.twig" %}
{% block body %}
    <div class="container-white container-pract-profile">
        <div class="banner">
            <img src="{{ asset('img/profile/banners/banner_pract_1.jpg') }}" alt="">
        </div>
        <div class="pract-type">
            Type du practitien
        </div>
        <div class="informations">
            <div class="left">
                <img src="{{ asset("uploads/users/membre.jpg") }}" alt="">
            </div>
            <div class="right">
                <div class="name">
                    {{ user.name }}
                    <div class="second">
                        {{ user.firstname }}
                    </div>
                </div>
                <div class="siret">
                    SIRET : 0101000000000000
                </div>
                <div class="adresse">
                    ADRESSE : {{ user.address }} - {{ user.city }} - {{ user.zipCode }}
                </div>
            </div>
        </div>
        <a target="_blank" href="https://www.google.fr/maps/place/{{ user.address~" "~user.city~" "~user.zipCode }}" id="map">

        </a>
    </div>
{% endblock %}