{% extends 'VimoliaBundle:Admin:standard_layout.html.twig' %}

{% block sonata_admin_content %}
	<div class="row">
		<div class="col-sm-4">
			<div id="usersChart"></div>
		</div>
		<div class="col-sm-4">
			<div id="questionsChart"></div>
		</div>
		<div class="col-sm-4">
			<div id="practsPerDomainChart"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div id="departementsPractChart"></div>
		</div>
		<div class="col-sm-4">
			<div id="departementsMembresChart"></div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
     {{ parent() }}
     <script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="{{ asset('js/charts/questionsChart.js') }}"></script>
	<script src="{{ asset('js/charts/usersChart.js') }}"></script>
	<script src="{{ asset('js/charts/practsPerDomainChart.js') }}"></script>
	<script src="{{ asset('js/charts/departementMembre.js') }}"></script>
	<script src="{{ asset('js/charts/departementPract.js') }}"></script>
	<script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock javascripts %}