{% extends "base.html.twig" %}
{% block body %}
    <div class="container-white container-webtv">
        <img class="icone" src="{{ asset('img/webtv/icone.png') }}" alt="">
        <div class="title">
            Web TV
        </div>
        <div class="videos">
        {% for video in videos %}
            {% if loop.index == 1 %}
                <div class="video video-principale">
                    <iframe width="420" height="315" src="http://www.youtube.com/embed/{{ video.id }}" frameborder="0" allowfullscreen value="{{ 'http://www.youtube.com/v/' ~  video.id }}"></iframe>
                    <div class="titre">
                        {{ video.title }}
                    </div>
                    <div class="description">
                        {{ video.description }}
                    </div>
                </div>
            {% else %}
                <div class="video autre-video">
                    <img width="90%" src="{{ video.thumbnails.high.url }}" style="cursor:pointer" />
                    <div class="titre">
                        {{ video.title }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock body %}
